body {
	background-color: #FFCCFF;
	margin-left: 75px;
	margin-right: 75px;
}

hr#hr100 {
	color: white;
}

table#t100 {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

table#t100, th {
	font-family: "Arial", sans-serif;
	padding: 10px;
	height: 75px;
	text-align: left;
}

table#t100, td {
	padding: 5px;
	height: 75px;
	border: 1px solid black;
	vertical-align: top;
}

div#userInputDiv {
	position: relative;
	font-family: "Arial", sans-serif;
}

.daybtns {
	padding: 5px 25px;
	background: #66FF99;
	border: 1px solid #D8D8D8;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	box-shadow: 5px 5px 5px 1px #505050;

	color: #000000;
	font-size: 1.1em;
}

button:hover {
	background: #D8D8D8;
	color:#f00;
}

button:active {
	position: relative;
	top: 2px;
	color: #f00;
}