body {
	background-color: lightblue;
	margin-left: 100px;
	margin-top: 50px;
	margin-right: 100px;
}

h1 {
	color: navy;
}

h4 {
	color: green;
}

div#loginDiv {
	position: absolute;
	right: 350px;
	top: 100px;
}

div#loginMsgDiv {
	position: absolute;
	right: 350px;
	font-size: 20px;
	color: red;
}