body {
	background-color: #F0F0F0;
	margin-left: 75px;
	margin-right: 75px;
}

hr#hr01 {
	color: white;
}

table#t01 {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

table#t01, th {
	font-family: "Arial", sans-serif;
	padding: 10px;
	height: 75px;
	text-align: left;
}

table#t01 td {
	padding: 5px;
	height: 75px;
	border: 1px solid lightslategray;

	box-shadow: 1px 1px 1px 1px #A0A0A0;

	vertical-align: top;
}

td:hover {
	background-color: #F0F0F0;
}

.ODD {background-color: #FFFFCC;}
.EVEN {background-color: #CCFFFF;}

.btn {
	padding: 5px 25px;
	background: #66FF99;
	border: 1px solid #D8D8D8;

	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	box-shadow: 5px 5px 5px 1px #505050;

	color: #000000;
	font-size: 1.1em;
}

button:hover {
	background: #D8D8D8;
	color:#f00;
}

button:active {
	position: relative;
	top: 2px;
	color: #f00;
}

/*div#P4demo {
	position: absolute;
	right: 75px;
	top: 0px;
}

div#animatedemo {
	position: absolute;
	animation: animatedemo 9s;
}

@keyframes animatedemo {
	from {background: orange;}
	to {background: red;}
}*/

div#userInfoDiv {
	position: absolute;
	top: 25px;
	right: 650px;
	font-size: 20px;
}